* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
   }

/*-------------header 시작----------------*/

header {
            position: sticky;
            top: 0;
            z-index: 1;
        }

        .top {
            height: 135px;
        /*  border: 1px solid red; */
            background-color: white;
            z-index: 1;
        }

        .logo {
            
            
            font-family: 'Playfair Display', serif;
            text-align: center;
            font-size: 30px;
            margin: 30px 0 20px 0;
            text-shadow: 0ch;
           
        }

        .top_container {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            font-family: 'Playfair Display', serif;
            font-family: 'Roboto', sans-serif; 
          
        }
        .util_menu {
            display: inline;
            
        }

        .top_item {
            color: #000;


        }

        .top_item:after {
            display: block;
            content: '';
            border-bottom: solid 3px #212121;
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;
        }

        .top_item:hover:after {
            transform: scaleX(1);
        }
        


        @import url('https://fonts.googleapis.com/css?family=Amatic+SC');

        /*-------------header 끝----------------*/


	body {
		color: #999;
		background: #f5f5f5;
		font-family: 'Roboto', sans-serif;
	}
	.form-control, .form-control:focus, .input-group-addon {
		border-color: #e1e1e1;
        border-radius: 0;
	}
	.signup-form {
		width: 390px;
		margin: 0 auto;
		padding: 30px 0;
        
	}
	.signup-form h2 {
		color: #636363;
        margin: 0 0 15px;
		text-align: center;
    }

    .signup-form form {		
		border-radius: 1px;
    	margin-bottom: 15px;
        background: #fff;
		border: 1px solid #f3f3f3;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
        margin-top: 70px;
    }
	.signup-form .form-group {
		margin-bottom: 20px;
	}
	.signup-form label {
		font-weight: normal;
		font-size: 13px;
	}
	.signup-form .form-control {
		min-height: 38px;
		box-shadow: none !important;
		border-width: 0 0 1px 0;
	}	
	.signup-form .input-group-addon {
		max-width: 42px;
		text-align: center;
		background: none;
		border-width: 0 0 1px 0;
		padding-left: 5px;
	}
    .signup-form .btn {        
        font-size: 16px;
        font-weight: bold;
		background: #19aa8d;
        border-radius: 3px;
		border: none;
		min-width: 140px;
        outline: none !important;
    }
	.signup-form .btn:hover, .signup-form .btn:focus {
		background: #179b81;
	}
	.signup-form a {
		color: #19aa8d;
		text-decoration: none;
	}	
	.signup-form a:hover {
		text-decoration: underline;
	}
	.signup-form .fa {
		font-size: 21px;
	}
	.signup-form .fa-paper-plane {
		font-size: 17px;
	}
	.signup-form .fa-check {
		color: #fff;
		left: 9px;
		top: 18px;
		font-size: 7px;
		position: absolute;
	}




/*-----footer------*/
footer .footer_box {
padding: 1px 0;
color: #fff;
background-color: #231F20;
text-align: center;
margin-top: 300px;
}

footer .footer_inner2 .inner2_word {
display: inline;
margin-left: 15px;
}/*-----footer------*/
