<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>sub2</title>
<link rel="preconnect" href="https://fonts. googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto:ital,wght@1,500&display=swap" rel="stylesheet">


<link rel="stylesheet" href="/css/sub2.css">
  <style>
 

  </style>
</head>
<body>
  <div id ="page">
    
    <header>
      <div class=top style="border-bottom: 1px solid gainsboro;">
          <div style="height: 1px; font-size: 1px; display: block; color: white;" ></div>
          <div class=logo>
            <a href ="/sub1" style="text-decoration: none; color: black">YourScent</a>
            <div><a href="#"><img src="./img/ico_cart.png" style="position: absolute; right:90px; top : 40px;"></a></div>
            <div><a href="/user/login"><img src="./img/ico_my.png" style="position: absolute; right:50px; top : 40px;"></a></div>
          </div>

          <div class = "clear"></div>

                <div class=top_container>
                    <div class="top_item"><a href ="/sub1" style="text-decoration: none; color: black">Product</a></div>
                    <div class="top_item"><a href ="#" style="text-decoration: none; color: black">Scent</a></div>
                    <div class="top_item"><a href ="#" style="text-decoration: none; color: black">About</a></div>
                    <div class="top_item"><a th:href ="@{|/question/list|}" style="text-decoration: none; color: black">Q&A</a></div>
                    <div class="top_item"><a href ="#" style="text-decoration: none; color: black">Best</a></div>
                    <div class="top_item"><a href ="#" style="text-decoration: none; color: black">Gift</a></div>
                </div>
      </div>
    </header>

    <main>

      <div class = "main_box"> 

        <div class = "product_img" style="width: 500px; height: 500px;">
          <img style= " width: 500px; height: 500px; object-fit: fill; display: inline-block; " src = "img/perfume1.png">
        </div>

        <div class = "product_info">
          <div class = "info_title">EAU DE Perfume (Black Collection)</div>
          <div class = "info_txt1">Perfume Creation | 30ml</div>
          <div class = "info_txt2">Exclusive Collection 보다 ‘희귀성’의 가치가 있는 Black Collection 라인은 고품격 오 드 퍼퓸을 선택할 수 있습니다. 오직 YourScent에서만 만나볼 수 있는 아주 특별한 향을 만나 ‘차이의 한끝’을 경험해 보시길 바랍니다.</div>
        </div>
        
        <div class = "info_middle">
          <span class = "middle_txt1">향료 선택</span>
          <span class = "middle_txt2"><a href ="#" style="text-decoration: underline; ">아래로 내려 향료선택</a></span>
        </div>

        <div class = "info_bottom">
          <div class = "info_button"><a href = "#" >구매하기</a></div>
        </div>
  
      </div>

      <div class ="line"></div>
      
      <div class = "detail_info">
        <div class = "line1 df" style="font-weight: bolder;">
          YourScent의 향수
        </div>

        <div class = "line2 df" style="word-break: normal; width: 1350px;">
          YourScent의 향수는 자연 유래 성분의 오일과 다양한 천연 성분인 꽃, 나무, 향신료, 송진 등의 원료로부터 증류 과정을 통해 추출되어 희귀하고 값진 귀중한 향료들로 섬세하게 만들어졌습니다.
          일반적으로 이러한 천연 성분은 온도에 민감한 자연 원료이기에 온도 차이에 따라 미세한 침전물이 생길 수 있습니다.
        </div>

        <div class = "line3 df" style="word-break: normal; width: 1350px;">
          이 입자들은 100% 자연 성분이며, 향수의 품질이나 성능에 영향을 주지 않습니다. 이는 오히려 향수가 더 높은 퀄리티의 자연 성분들을 가지고 있고, 최소한의 정제 과정을 거침으로써 향의 지속력을 높였음을 증명합니다. 
          마치, 고급 와인에서 발견되는 잔여물·침전물과 같은 것이라 볼 수 있습니다. 이러한 입자의 흔적은 유기농의 자연적인 흔적이며 안전하오니 침전물을 발견했을 시 당황하지 마시고, 최상의 천연 성분으로 인한 현상이므로 안심하고 사용해 주시길 바랍니다.
        </div>

        <div class = "line4 df" style="word-break: normal; width: 1350px;">
          클린 뷰티를 지향하고 지속 가능한 향수를 제공하는 것은 YourScent 브랜드의 철학입니다. 모든 고객의 건강, 행복, 그리고 지구 전체에 이로운 오 드 퍼퓸을 제공할 것을 약속드립니다.
        </div>


      </div>


    </main>

    <footer>
      <div class = "footer_box">
        <div class =footer_inner1>
            <div class = logo>
              <a href = "/" style="text-decoration: none; color: white;">YourScent</a>
            </div>
            <div>
                주식회사 YourScent코리아 (YourScent Korea Co.Ltd.) 
            </div>
            
            <div>
                고객센터 : YourScent Cheongdam : 070-4771-0636 / YourScent London : 070-7761-7542 상담시간 : 12:00 ~ 21:00
            </div>
        </div>
        <br>
        <div class = footer_inner2>
            <ul>
                <li class = "inner2_word"> FAQ </li>
                <li class = "inner2_word"> | </li>
                <li class = "inner2_word"> About Us </li>
                <li class = "inner2_word"> | </li>
                <li class = "inner2_word"> 이용약관 </li>
                <li class = "inner2_word"> | </li>
                <li class = "inner2_word"> 개인정보처리방침 </li>
            </ul>
        </div>
    </div>
    </footer>



  </div>
  

  
</body>
</html>